@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import './tailwind.css';
@import './theme.css';
@import './fonts.css';
